<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>pavankumar - Portfolio</title>
</head>
<body>
  <header>
    <h1>PAVANKUMAR T</h1>
    <p>Cyber Security ~ Web Developer</p>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/download-resume">Download Resume</a></li>
    </ul>
  </nav>

  <section>
    <h2>About Me</h2>
    <p>I'm a technology enthusiast with a sharp analytical mind, eager to excel in IT software engineering and have a solid background in
      network security, ethical hacking, and risk management as a final-year student studying cyber security . My collaborative spirit and
      commitment to ethical development make me a valuable addition to your service-based team. Ready to innovate and deliver impactful
      software solutions that exceed client expectations.</p>
  </section>

  <section>
    <h2>Education</h2>
    <p>SRM Institute of Science and Technology ,Ramapuram</p>
    <p>B.Tech.-Computer Science and Engineering with specialization in Cyber Security</p>
    <p>GPA: 8.61(Till 6th Sem)</p>
    <p>Expected June 2024</p>
  </section>

  <section>
    <h2> Courses </h2>
        <li>Practical Ethical Hacking – TCM Security Academy</li>
        <li>Introduction to Cybersecurity - Great Learning</li>
        <li>Burp Suite - Udemy</li>  
  </section>

  <section>
    <h2>Internship Experience</h2>
    <p><b>Tutelr Group</b></p>
    <p>Cybersecurity Intern ~ sep 23 - dec 23 </p>
    <p>During my internship, I had hands-on experience in the field of information security and Ethical hacking.My responsibilities included participating in security assessments and audits, conducting vulnerability scans and
        assisting in the development and implementation of security policies and procedures</p>
  </section>

  <section>
    <h2>Contact</h2>
    <p><i style="font-size:15px" class="fa">&#xf0e0;</i> pavankumar.thiyagu@gmail.com</p>
    <p><i style="font-size:15px" class="fa">&#xf095;</i> 9150613103</p>
    <p><i style="font-size:15px" class="fa">&#xf09b;</i> github.com/pavan1192 </p>
    <p><i style="font-size:15px" class="fa">&#xf08c;</i> pavan-cybersecurity</p>
  </section>
</body>
</html>
