<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>pavankumar - Projects</title>
</head>
<body>
  <header>
    <h1>PAVANKUMAR T</h1>
    <p>Cyber Security ~ Web Developer</p>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/download-resume">Download Resume</a></li>
    </ul>
  </nav>

  <section>
    <h2>Projects</h2>
    <ul>
      <li><p><h4>Telegram Media and Message Scrapping using Python</h4></p>
        <p>Cybersecurity (self-project)</p>
        <p>This tool uses the Telegram API to efficiently extract media and messages for data analysis, research, and content
            curation, saving the data in a local Excel sheet.</p>
        </li>

      <li><p><h4>Anomaly Detection in Network Traffic using Data Analytics.</h4></p>
        <p>Network security (group-project)</p>
        <p>This project uses data analytics to swiftly detect and mitigate potential threats by identifying irregular network
            traffic patterns and creating algorithms for safeguarding network integrity and confidentiality.</p>
        </li>

      <li><p><h4>Network and Port Scanner using Python</h4></p>
    <p>Cybersecurity (self-project)</p>
    <p>Developed an ESP32-based network and port scanner, utilizing its Wi-Fi capabilities to identify devices and open
    ports. The tool, featuring a user-friendly interface, is highly configurable for tailored scanning.</p></li>
      <!-- Add more projects as needed -->
    </ul>
  </section>
</body>
</html>
